* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Sans-serif;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.m-0 {
  margin: 0;
}

/* ---------------------------------- Intro --------------------------------- */
.div-time {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 5px;
  color: whitesmoke;
  background-color: #32c759;
  border-radius: 20px;
  font-size: 20px;
}

.div-logo {
  position: relative;
  width: 250px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}
.div-logo .logo {
  display: block;
  width: 250px;
  margin: auto 0;
}

.aix-marseille {
  width: 250px;
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
}

/* ----------------------------------- App ---------------------------------- */
header {
  background: linear-gradient(to right, rgb(247, 122, 60), rgb(226, 95, 29));
  color: whitesmoke;
  height: 14vh;
  padding-top: 8vh;
  text-align: center;
}

main {
  height: 72vh;
}

.div-battery {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  height: 20px;
}
.div-battery .battery {
  height: 30px;
}

footer {
  background-color: whitesmoke;
  border-top: solid grey 1px;
  height: 14vh;
}

/* ----------------------------------- nav ---------------------------------- */
nav {
  display: flex;
  justify-content: space-around;
  height: 14vh;
}
nav .nav-div {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 10px;
}
nav .nav-div .nav-icon {
  display: block;
  width: 40px;
  margin: 0 auto;
}

/* -------------------------------- nav page -------------------------------- */
/* ---------------------------------- page 1 --------------------------------- */
.mesTitres-div {
  display: block;
  height: 72vh;
  overflow-y: auto;
}
.mesTitres-div .mesTitresReels {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}
.mesTitres-div .mesTitresReels .mesTitresSeul {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  font-size: 20px;
}
.mesTitres-div .mesTitresReels .mesTitresSeul .mesTitres-img {
  border: 3px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/ticket.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 160px;
  border-radius: 10px;
  margin: 0 auto;
}
.mesTitres-div .mesTitresReels .mesTitresSeul .mesTitres-img .timer {
  background-color: #32c759;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);
  height: 40%;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.mesTitres-div .mesTitresReels .mesTitresSeul .mesTitres-img .timer .fin {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.mesTitres-div .mesTitresReels .mesTitresSeul .mesTitres-img .timer .finTimer {
  font-size: 22px;
  color: whitesmoke;
  font-weight: 600;
}
.mesTitres-div .validerTitre {
  height: 16vh;
  display: flex;
  align-items: center;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
}
.mesTitres-div .validerTitre .valider-button {
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  color: whitesmoke;
  width: 90%;
  padding: 15px 0;
}
.mesTitres-div .pasDeTitres {
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: grey;
}

/* --------------------------------- page 2 --------------------------------- */
.acheter-div {
  display: block;
  height: 72vh;
}
.acheter-div .allTickets::-webkit-scrollbar {
  display: none;
}
.acheter-div .allTickets {
  margin: 0 20px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}
.acheter-div .acheterTicket {
  display: flex;
  gap: 10px;
}
.acheter-div .acheterTicket .acheter-img {
  flex-basis: 10%;
  display: block;
  width: 40px;
  height: 40px;
}
.acheter-div .acheterTicket .acheterAll {
  flex-basis: 90%;
}
.acheter-div .acheterTicket .acheterAll .acheterFirst {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.acheter-div .acheterTicket .acheterAll .acheterFirst .acheterTitle {
  font-size: 20px;
  font-weight: 500;
  align-self: center;
}
.acheter-div .acheterTicket .acheterAll .acheterFirst .acheterAdd {
  font-size: 35px;
  align-self: center;
  display: flex;
  gap: 5px;
}
.acheter-div .acheterTicket .acheterAll .acheterFirst .acheterAdd .buttonCart {
  font-size: 25px;
  border-radius: 1000px;
  align-self: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(246, 114, 48);
  border: none;
  color: whitesmoke;
  background-color: rgb(246, 114, 48);
}
.acheter-div .acheterTicket .acheterAll .acheterFirst .acheterAdd .buttonCart:hover {
  color: rgb(246, 114, 48);
  background-color: whitesmoke;
  border: 1px solid rgb(246, 114, 48);
}
.acheter-div .acheterTicket .acheterAll .acheterSecond {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.acheter-div .acheterTicket .acheterAll .acheterSecond .acheterDescription {
  font-size: 12px;
  align-self: center;
}
.acheter-div .acheterTicket .acheterAll .acheterSecond .acheterPrice {
  font-size: 20px;
  align-self: center;
}

.buy {
  display: flex;
  flex-direction: column;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
  height: 16vh;
  justify-content: space-evenly;
}
.buy .buySpan {
  place-self: end;
  margin: 0 auto;
}
.buy button {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  color: whitesmoke;
  width: 90%;
  padding: 15px 0;
}

/* --------------------------------- page 3 --------------------------------- */
.menu-div {
  display: block;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.menu-div .pasDeMenu {
  width: 80vw;
}

/* ------------------------------ page paiement ----------------------------- */
.paiement-div {
  display: block;
  height: 86vh;
  padding: 20px;
  position: relative;
}
.paiement-div .paiementTotal {
  margin: 40px 0 20px;
  font-size: 19px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.paiement-div .paiementCart {
  margin: 20px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.paiement-div .paiementCart .newPaiementCart {
  display: flex;
  justify-content: space-between;
}
.paiement-div .paiementConditions {
  margin: 0 0 100px;
  font-size: 13px;
  font-weight: 500;
}
.paiement-div .attention-div {
  display: flex;
  gap: 10px;
}
.paiement-div .attention-div .attention-img {
  width: 30px;
  height: 30px;
}
.paiement-div .attention-div .attention-p {
  color: #ff2147;
  font-size: 14px;
  font-weight: 600;
}
.paiement-div .payer-button {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  color: whitesmoke;
  width: 90%;
  padding: 15px 0;
  position: absolute;
  bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
