<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="shortcut icon"
      href="../images/favicon.png"
      type="image/x-icon"
    />
    <title>leticket</title>
  </head>
  <body>
    <!-- ------------------------------- header -------------------------------- -->
    <header>
      <div class="div-time">
        <span id="time"></span>
      </div>
      <div class="div-battery">
        <img src="../images/battery.png" alt="" class="battery" />
      </div>
      <h2 id="title"></h2>
    </header>

    <!-- -------------------------------- main --------------------------------- -->
    <main>
      <!-- ------------------------------- page 1 -------------------------------- -->
      <div id="mesTitresDiv" class="hidden">
        <div id="MesTitresReels" class="mesTitresReels">
          <div class="mesTitres-img">
            <div class="hidden" id="timer">
              <span class="fin">Fin de validité :</span>
              <span class="finTimer"></span>
            </div>
          </div>
          <span>Solo</span>
        </div>
        <div class="hidden" id="validerTitre">
          <button onclick="timer()" class="valider-button" id="validerButton">
            Valider
          </button>
        </div>
        <div id="pasDeTitres" class="hidden">
          <span> Vous n'avez actuellement<br />aucun titre de transports </span>
        </div>
      </div>

      <!-- ------------------------------- page 2 -------------------------------- -->
      <div id="acheterDiv" class="hidden">
        <div class="allTickets"></div>
        <div class="hidden" id="buy">
          <span class="buySpan"></span>
          <button onclick="validate()">Acheter</button>
        </div>
      </div>

      <!-- -------------------------------- page3 -------------------------------- -->
      <div id="menuDiv" class="hidden">
        <img
          src="../images/antoine-dupont-french.gif"
          alt=""
          class="pasDeMenu"
        />
      </div>
    </main>

    <!-- ------------------------------- footer -------------------------------- -->
    <footer>
      <nav>
        <div class="nav-div" id="mesTitres">
          <img
            class="nav-icon"
            src="../images/nav/black-tickets.png"
            alt=""
            id="mesTitres-icon"
          />
          <span class="nav-span">Mes titres</span>
        </div>
        <div class="nav-div" id="acheter">
          <img
            class="nav-icon"
            src="../images/nav/cart.png"
            alt=""
            id="acheter-icon"
          />
          <span class="nav-span">Acheter</span>
        </div>
        <div class="nav-div" id="menu">
          <img
            class="nav-icon"
            src="../images/nav/menu.png"
            alt=""
            id="menu-icon"
          />
          <span class="nav-span">Menu</span>
        </div>
      </nav>
    </footer>
  </body>
  <script src="../scripts/script.js"></script>
  <script src="../scripts/nav.js"></script>
  <script src="../scripts/ticketsTab.js"></script>
  <script src="../scripts/tickets.js"></script>
  <script src="../scripts/cart.js"></script>
  <script src="../scripts/chrono.js"></script>
</html>
