<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="shortcut icon"
      href="../images/favicon.png"
      type="image/x-icon"
    />
    <title>leticket</title>
  </head>
  <body>
    <!-- ------------------------------- header -------------------------------- -->
    <header>
      <div class="div-time">
        <span id="time"></span>
      </div>
      <div class="div-battery">
        <img src="../images/battery.png" alt="" class="battery" />
      </div>
      <h2 id="title"></h2>
      <div class="hidden" id="back">
        <img src="../images/white-arrow.png" alt="" />
        <span>Acheter</span>
      </div>
      <img id="arrow" class="hidden" src="../images/black-arrow.png" alt="" />
    </header>

    <!-- -------------------------------- main --------------------------------- -->
    <main>
      <!-- ------------------------------- page 1 -------------------------------- -->
      <div id="mesTitresDiv" class="hidden">
        <div id="MesTitresReels" class="mesTitresReels"></div>
        <div class="hidden" id="validerTitre">
          <button onclick="timer()" class="valider-button" id="validerButton">
            Valider
          </button>
        </div>
        <div id="pasDeTitres" class="hidden">
          <span> Vous n'avez actuellement<br />aucun titre de transports </span>
        </div>
      </div>

      <!-- ------------------------------- page 2 -------------------------------- -->
      <div id="acheterDiv" class="hidden">
        <div class="allTickets"></div>
        <div class="hidden" id="buy">
          <span class="buySpan"></span>
          <button onclick="validate()">Acheter</button>
        </div>
      </div>

      <!-- -------------------------------- page3 -------------------------------- -->
      <div id="menuDiv" class="hidden">
        <img
          src="../images/antoine-dupont-french.gif"
          alt=""
          class="pasDeMenu"
        />
      </div>

      <!-- ------------------------------- page paiement -------------------------------- -->
      <div id="paiementDiv" class="hidden">
        <div class="paiementTotal">
          <span>Total de la commande : </span><span id="paiementTotal"></span>
        </div>
        <hr />
        <div class="paiementCart"></div>
        <div class="paiementConditions">
          <input type="checkbox" name="conditions" id="conditions" /><label
            for="conditions"
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;J'ai lu et j'accepte les
            <u>conditions générales de vente</u></label
          >
        </div>
        <div class="attention-div">
          <img class="attention-img" src="../images/warning.png" alt="" />
          <p class="attention-p">
            Attention vos correspondances ainsi que vos titres ne vous
            permettent pas d'utiliser le métro pour le moment
          </p>
        </div>
        <button class="payer-button" id="payerButton">Payer</button>
      </div>

      <!-- ----------------------- page paiement bancaire ------------------------ -->
      <div id="bancaireDiv" class="hidden">
        <span class="montant"> </span>
        <form>
          <label for="numero">Numéro de la carte : <span id="numeroSpan"></span></label>
          <div class="numero-div">
            <input type="text" name="numero" id="numero" class="numero"/>
            <img src="../images/interrogation-mark.png" alt="" />
          </div>
          <label for="expire">Expire fin : <span id="expireSpan"></span></label>
          <div class="expire">
            <input type="text" placeholder="mois" name="expire" id="expire" />
            <input
              type="number"
              placeholder="année"
              name="expireYear"
              id="expireYear"
            />
          </div>
          <label for="cypto">Cryptogramme visuel : <span id="cryptoSpan"></span></label>
          <div class="crypto">
            <input type="text" name="crypto" id="crypto" />
            <img src="../images/interrogation-mark.png" alt="" />
          </div>
        </form>
        <button onclick="pay()">Valider</button>
        <div class="imgs1">
          <img class="visa" src="../images/bancaire/visa.webp" alt="" />
          <img class="gb" src="../images/bancaire/gb.png" alt="" />
          <img
            class="mastercard"
            src="../images/bancaire/mastercard.png"
            alt=""
          />
        </div>
        <p id="annuler" onclick="goBack()">
          Annuler et retourner à la boutique
        </p>
      </div>
    </main>

    <!-- ------------------------------- footer -------------------------------- -->
    <footer id="footer">
      <nav id="nav">
        <div class="nav-div" id="mesTitres">
          <img
            class="nav-icon"
            src="../images/nav/black-tickets.png"
            alt=""
            id="mesTitres-icon"
          />
          <span class="nav-span">Mes titres</span>
        </div>
        <div class="nav-div" id="acheter">
          <img
            class="nav-icon"
            src="../images/nav/cart.png"
            alt=""
            id="acheter-icon"
          />
          <span class="nav-span">Acheter</span>
        </div>
        <div class="nav-div" id="menu">
          <img
            class="nav-icon"
            src="../images/nav/menu.png"
            alt=""
            id="menu-icon"
          />
          <span class="nav-span">Menu</span>
        </div>
      </nav>
      <div class="hidden" id="bancaireFooter">
        <div class="imgs2">
          <img class="payzen" src="../images/bancaire/payzen.png" alt="" />
          <img class="cpi" src="../images/bancaire/pci.png" alt="" />
        </div>
        <div class="copyright">
          <span>Copyright Lyra © 2023</span><span><u>Mentions légales</u></span>
        </div>
      </div>
    </footer>
  </body>
  <script src="../scripts/script.js"></script>
  <script src="../scripts/nav.js"></script>
  <script src="../scripts/ticketsTab.js"></script>
  <script src="../scripts/tickets.js"></script>
  <script src="../scripts/cart.js"></script>
  <script src="../scripts/chrono.js"></script>
</html>
