<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="shortcut icon"
      href="../images/favicon.png"
      type="image/x-icon"
    />
    <title>leticket</title>
  </head>
  <body onLoad="setTimeout('introRedirection()', 1500)">
    <div class="div-time">
      <span id="time"></span>
    </div>
    <header class="hidden"></header>
    <main>
      <div class="div-logo">
        <img src="../images/logo.png" alt="" class="logo" />
      </div>
      <div>
        <img src="../images/aix-marseille.png" alt="" class="aix-marseille" />
      </div>
    </main>
    <footer class="hidden"></footer>
  </body>
  <script src="../scripts/script.js"></script>
</html>
