<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="shortcut icon"
      href="../images/favicon.png"
      type="image/x-icon"
    />
    <link rel="manifest" href="../manifest.json" />
    <title>leticket</title>
    <script>
      window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("../sw.js");
        }
      });
    </script>
  </head>
  <body onLoad="setTimeout('introRedirection()', 1500)">
    <header class="hidden"></header>
    <main>
      <div class="div-logo">
        <img src="../images/logo.png" alt="" class="logo" />
        <img src="../images/aix-marseille.png" alt="" class="aix-marseille" />
      </div>
    </main>
    <footer class="hidden"></footer>
  </body>
  <script src="../scripts/script.js"></script>
</html>
